In [1]:
import time
start_time = time.time()
test=[]

#1,000,000번을 반복해서 tuple 만듭니다.
for _ in range(1_000_000) :
    tp = (_,_) #tuple
    test.append(tp)

#끝나는 시간 - 시작하는 시간
print(time.time() - start_time)
#동작한 시간

0.5859072208404541

In [2]:
start_time = time.time()
test = []

for _ in range(1_000_000) :
    tp = [_,_] #list
    test.append(tp)
    
print(time.time() - start_time)

1.2858819961547852

In [3]:
s1,s2=("text1","text2")
print(s1)
print(s2)

text1
text2

In [4]:
s3,s4,s5 = ["이렇게","리스트도", "가능합니다."]
print(s3,s4,s5)

이렇게 리스트도 가능합니다.

In [5]:
input_value = input("Message :")

Message : 아무값이나 넣어봐

In [6]:
print()

In [7]:
print("input_value:",input_value,"\ntype:",type(input_value))

input_value: 아무값이나 넣어봐
type: <class 'str'>

In [9]:
v=input("값 :")
v = int(v)
print(v)

값 : 1111

1111

In [14]:
input_value2=input("값:")
input_value2 = float(input_value2)
print(input_value2)

값: 1

1.0

In [17]:
input_value2=int(input("정수를 입력해주세요:"))
print(input_value2)

정수를 입력해주세요: 123

123

In [19]:
name = input("이름을 입력하시오 :")
print(name,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
number1 = int(input("첫 번째 정수를 입력하세요 :"))
number2 = int(input("두 번째 정수를 입력하세요 :"))
print(number1,"과",number2,"의 합은",number1+number2,"입니다.")

이름을 입력하시오 : 강예림

강예림 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요 : 400
두 번째 정수를 입력하세요 : 500

400 과 500 의 합은 900 입니다.

In [20]:
name = input("이름을 입력하시오 :")
print(name,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
number1 = input("첫 번째 정수를 입력하세요 :")
number2 = input("두 번째 정수를 입력하세요 :")
print(number1+"과"+number2+"의 합은"+number1+number2+"입니다.")

이름을 입력하시오 : 강예림

강예림 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요 : 4
두 번째 정수를 입력하세요 : 5

4과5의 합은45입니다.

In [21]:
name = input("이름을 입력하시오 :")
print(name,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
number1 = int(input("첫 번째 정수를 입력하세요 :"))
number2 = int(input("두 번째 정수를 입력하세요 :"))
print(number1,"과",number2,"의 합은",number1+number2,"입니다.")

이름을 입력하시오 : 강예림

강예림 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요 : 400
두 번째 정수를 입력하세요 : 30

400 과 30 의 합은 430 입니다.

In [24]:
space = input("경기장은 어디입니까?")
ateam = input("이긴 팀은 어디입니까?")
bteam = input("진팀은 어디입니까?")
people = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("\n[속보]KT가 ",score,"로 승리...\n오늘",space,"경기장에서 야구 경기가 있었습니다.")
print(ateam,"와",bteam,"는 치열한 공방전을 펼쳤습니다.\n이 경기에서",people,"가 맹활약을 했습니다.")
print("그 끝내",ateam,"가",bteam,"를",score,"로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보]KT가  10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

In [28]:
space = input("경기장은 어디입니까?")
ateam = input("이긴 팀은 어디입니까?")
bteam = input("진팀은 어디입니까?")
people = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("""\n[속보]{}가 {}로 승리...
오늘{}경기장에서 야구 경기가 있었습니다.
{}와{}는 치열한 공방전을 펼쳤습니다.
이 경기에서{}가 맹활약을 했습니다.
그 끝내 {}가{}를 {}로 승리하였습니다.
기사 끝.""".format(ateam,score,space,ateam,bteam,people,ateam,bteam,score))

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보]KT가 10:9로 승리...
오늘고척경기장에서 야구 경기가 있었습니다.
KT와LG는 치열한 공방전을 펼쳤습니다.
이 경기에서강백호가 맹활약을 했습니다.
그 끝내 KT가LG를10:9로 승리하였습니다.
기사 끝.

In [30]:
t = input("hh:mm:ss 의 형태로 시간을 입력해주세요.")
T=t.split(":")
print("\n시:" ,T[0])
print("분:" ,T[1])
print("초:" ,T[2])

hh:mm:ss 의 형태로 시간을 입력해주세요. 12:33:23

시: 12
분: 33
초: 23

In [31]:
scores = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = sum(scores)/4
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

kor,eng,math,s = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = (kor+eng+math+s)/4
print("평균 점수는",score,"점입니다.")

In [38]:
kor,eng,math,sci = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = (kor+eng+math+sci)/4
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

In [34]:
scores = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = sum(scores)/4
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

In [42]:
result = (kor,eng,math,sci)

In [43]:
type(result)

tuple

In [44]:
len(result)

4

In [45]:
kor,eng,math,sci = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
result = (kor,eng,math,sci)
score = sum(result)/len(result)
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.