In [1]:
import time
start_time = time.time()
test=[]

#1,000,000번을 반복해서 tuple 만듭니다.
for _ in range(1_000_000) :
    tp = (_,_) #tuple
    test.append(tp)

#끝나는 시간 - 시작하는 시간
print(time.time() - start_time)
#동작한 시간

0.5859072208404541

In [2]:
start_time = time.time()
test = []

for _ in range(1_000_000) :
    tp = [_,_] #list
    test.append(tp)
    
print(time.time() - start_time)

1.2858819961547852

In [3]:
s1,s2=("text1","text2")
print(s1)
print(s2)

text1
text2

In [4]:
s3,s4,s5 = ["이렇게","리스트도", "가능합니다."]
print(s3,s4,s5)

이렇게 리스트도 가능합니다.

In [5]:
input_value = input("Message :")

Message : 아무값이나 넣어봐

In [6]:
print()

In [7]:
print("input_value:",input_value,"\ntype:",type(input_value))

input_value: 아무값이나 넣어봐
type: <class 'str'>

In [9]:
v=input("값 :")
v = int(v)
print(v)

값 : 1111

1111

In [14]:
input_value2=input("값:")
input_value2 = float(input_value2)
print(input_value2)

값: 1

1.0

In [17]:
input_value2=int(input("정수를 입력해주세요:"))
print(input_value2)

정수를 입력해주세요: 123

123

In [19]:
name = input("이름을 입력하시오 :")
print(name,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
number1 = int(input("첫 번째 정수를 입력하세요 :"))
number2 = int(input("두 번째 정수를 입력하세요 :"))
print(number1,"과",number2,"의 합은",number1+number2,"입니다.")

이름을 입력하시오 : 강예림

강예림 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요 : 400
두 번째 정수를 입력하세요 : 500

400 과 500 의 합은 900 입니다.

In [20]:
name = input("이름을 입력하시오 :")
print(name,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
number1 = input("첫 번째 정수를 입력하세요 :")
number2 = input("두 번째 정수를 입력하세요 :")
print(number1+"과"+number2+"의 합은"+number1+number2+"입니다.")

이름을 입력하시오 : 강예림

강예림 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요 : 4
두 번째 정수를 입력하세요 : 5

4과5의 합은45입니다.

In [21]:
name = input("이름을 입력하시오 :")
print(name,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
number1 = int(input("첫 번째 정수를 입력하세요 :"))
number2 = int(input("두 번째 정수를 입력하세요 :"))
print(number1,"과",number2,"의 합은",number1+number2,"입니다.")

이름을 입력하시오 : 강예림

강예림 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요 : 400
두 번째 정수를 입력하세요 : 30

400 과 30 의 합은 430 입니다.

In [24]:
space = input("경기장은 어디입니까?")
ateam = input("이긴 팀은 어디입니까?")
bteam = input("진팀은 어디입니까?")
people = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("\n[속보]KT가 ",score,"로 승리...\n오늘",space,"경기장에서 야구 경기가 있었습니다.")
print(ateam,"와",bteam,"는 치열한 공방전을 펼쳤습니다.\n이 경기에서",people,"가 맹활약을 했습니다.")
print("그 끝내",ateam,"가",bteam,"를",score,"로 승리하였습니다.\n기사 끝.")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보]KT가  10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

In [28]:
space = input("경기장은 어디입니까?")
ateam = input("이긴 팀은 어디입니까?")
bteam = input("진팀은 어디입니까?")
people = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("""\n[속보]{}가 {}로 승리...
오늘{}경기장에서 야구 경기가 있었습니다.
{}와{}는 치열한 공방전을 펼쳤습니다.
이 경기에서{}가 맹활약을 했습니다.
그 끝내 {}가{}를 {}로 승리하였습니다.
기사 끝.""".format(ateam,score,space,ateam,bteam,people,ateam,bteam,score))

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보]KT가 10:9로 승리...
오늘고척경기장에서 야구 경기가 있었습니다.
KT와LG는 치열한 공방전을 펼쳤습니다.
이 경기에서강백호가 맹활약을 했습니다.
그 끝내 KT가LG를10:9로 승리하였습니다.
기사 끝.

In [30]:
t = input("hh:mm:ss 의 형태로 시간을 입력해주세요.")
T=t.split(":")
print("\n시:" ,T[0])
print("분:" ,T[1])
print("초:" ,T[2])

hh:mm:ss 의 형태로 시간을 입력해주세요. 12:33:23

시: 12
분: 33
초: 23

In [31]:
scores = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = sum(scores)/4
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

kor,eng,math,s = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = (kor+eng+math+s)/4
print("평균 점수는",score,"점입니다.")

In [38]:
kor,eng,math,sci = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = (kor+eng+math+sci)/4
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

In [34]:
scores = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
score = sum(scores)/4
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

In [42]:
result = (kor,eng,math,sci)

In [43]:
type(result)

tuple

In [44]:
len(result)

4

In [45]:
kor,eng,math,sci = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
result = (kor,eng,math,sci)
score = sum(result)/len(result)
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,96,100

평균 점수는 98.5 점입니다.

In [2]:
kor,eng,math,sci = map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(","))
result = (kor,eng,math,sci)
score = sum(result)/len(result)
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,92,100

평균 점수는 97.5 점입니다.

In [3]:
type(result)

tuple

In [9]:
scores = list(map(int,input("국어,영어,수학,과학 점수를 입력해주세요.").split(",")))
score = sum(scores)/4
print("평균 점수는",score,"점입니다.")

국어,영어,수학,과학 점수를 입력해주세요. 98,100,92,100

평균 점수는 97.5 점입니다.

In [5]:
type(score)

float

In [10]:
type(scores)

list

In [11]:
list(scores)

[98, 100, 92, 100]

In [12]:
type(scores)

list

In [13]:
print("줄이 바뀌지 않습니다.",end="")
print("그 이유는 end = \"\\n\"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep","end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.",sep=",",end="")
print("어떻게 사용하는지", "이해가 되시나요",sep="\n",end="?")

줄이 바뀌지 않습니다.그 이유는 end = "\n"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep,end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [19]:
year='2021'
month='02'
day='03'
hour='18'
minute='33'
second='23'

print(year,month,day,sep="/",end=" ")
print(hour,minute,second,sep=":")

2021/02/03 18:33:23

In [22]:
count = list(map(int,input("사과와 귤을 몇개 드릴까요?").split(",")))
result = (count[0]*1000)+(count[1]*200)
print("총 가격은 ",result,"원입니다.",sep="")

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다

In [25]:
import time

today = """오늘의 날짜를 알려드립니다!
{}년 {}월 {}일입니다.\
""".format(time.localtime().tm_year,
          time.localtime().tm_mon,
          time.localtime().tm_mday)

print(today)

오늘의 날짜를 알려드립니다!
2023년 2월 15일입니다.

In [32]:
import time

today = f"""오늘의 날짜를 알려드립니다!
{time.localtime().tm_year}년 {time.localtime().tm_mon}월"""

print(today)

오늘의 날짜를 알려드립니다!
2023년 2월

In [31]:
c=4
print("시작")

if c>10:
    print("10보다 큽니다.")
elif c<5:
    print("5보다 작습니다.")
else:
    print("10보다 작고, 5보다 큽니다.")
    
print("끝")

시작
5보다 작습니다.
끝

In [33]:
age = 40

if 20<= age <30:
    print("20대 입니다.")
elif 30<= age <40:
    print("30대 입니다.")
else:
    print("불혹입니다.")

불혹입니다.

In [41]:
id = input("아이디를 입력하세요 :")
if id == 'admin':
    print("최고 관리자, 모든 권한을 갖습니다.")
else:
    level = int(input("회원 등급을 입력해주세요:"))
    if 1<=level<=3:
        print("\n제한적인 권한을 갖습니다.")
    else:
        print("\n권한이 없습니다.")

아이디를 입력하세요 : df
회원 등급을 입력해주세요: 4

권한이 없습니다.

In [ ]:
number = int(input("자연수 하나 입력해주세요:"))
if 0<=number:
    if number<50:
        print(number)
    else :
        print(number-50)

In [ ]:
number = int(input("자연수 하나 입력해주세요:"))
if 0<=number:
    if number<50:
        print(number)
    else :
        print(number-50)

In [1]:
number = int(input("자연수 하나 입력해주세요:"))
if 0<=number:
    if number<50:
        print(0)
    else :
        print(number-50)
else :
    print("자연수가 아닙니다.")

자연수 하나 입력해주세요: 43

0

In [2]:
number = int(input("자연수 하나 입력해주세요:"))
if 0<=number:
    if number<50:
        print(0)
    else :
        print(number-50)
else :
    print("자연수가 아닙니다.")

자연수 하나 입력해주세요: 70

20

In [3]:
number = int(input("자연수 하나 입력해주세요:"))
if 0<=number:
    if number%2==1:
        print("홀수입니다.")
    else :
        print("짝수입니다.")
else :
    print("자연수가 아닙니다.")

자연수 하나 입력해주세요: 54

짝수입니다.

In [4]:
number = int(input("자연수 하나 입력해주세요:"))
if 0<=number:
    if number%2==1:
        print("홀수입니다.")
    else :
        print("짝수입니다.")
else :
    print("자연수가 아닙니다.")

자연수 하나 입력해주세요: 41

홀수입니다.

In [13]:
design = int(input("소프트웨어 설계 점수를 입력하세요."))
develop = int(input("소프트웨어 개발 점수를 입력하세요."))
DB = int(input("데이터베이스 구축 점수를 입력하세요."))
lan = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
manage = int(input("정보시스템 구축관리 점수를 입력하세요."))
scores = [design,develop,DB,lan,manage]
result=sum(scores)/5
if (100 > design > 0) and (100>develop > 0) and (100>DB > 0) and (100>lan > 0) and (100>manage > 0) :
    if result>=60:
        print("합격")
    else :
        print("불합격")
else :
    print("잘못된 정수 입니다.")

소프트웨어 설계 점수를 입력하세요. 90
소프트웨어 개발 점수를 입력하세요. 10
데이터베이스 구축 점수를 입력하세요. 1000
프로그래밍 언어 활용 점수를 입력하세요. 90
정보시스템 구축관리 점수를 입력하세요. 10

잘못된 정수 입니다.

In [14]:
design = int(input("소프트웨어 설계 점수를 입력하세요."))
develop = int(input("소프트웨어 개발 점수를 입력하세요."))
DB = int(input("데이터베이스 구축 점수를 입력하세요."))
lan = int(input("프로그래밍 언어 활용 점수를 입력하세요."))
manage = int(input("정보시스템 구축관리 점수를 입력하세요."))
scores = [design,develop,DB,lan,manage]
result = sum(scores)/5

if (100 >= design >= 0) and (100 >= develop >= 0) and (100 >= DB >= 0) and (100 >= lan >= 0) and (100 >= manage >= 0) :
    if result>=60:
        print("합격")
    else :
        print("불합격")
else :
    print("잘못된 정수 입니다.")

소프트웨어 설계 점수를 입력하세요. 90
소프트웨어 개발 점수를 입력하세요. 900
데이터베이스 구축 점수를 입력하세요. 90000
프로그래밍 언어 활용 점수를 입력하세요. 9000
정보시스템 구축관리 점수를 입력하세요. 900

잘못된 정수 입니다.

In [19]:
number = float(input("현재 물의 온도를 입력해주세요."))
if number>=100:
    print("기체로 예상됩니다.")
elif 0<=number<100:
    print("액체로 예상됩니다.")
elif number<0:
    print("고체로 예상됩니다.")
else :
    print("다시 입력해주세요.")

현재 물의 온도를 입력해주세요. -0.12

고체로 예상됩니다.

In [20]:
age = int(input("자신의 나이를 입력하세요:"))
if age>=19:
    print("1500원")
elif age>=12:
    print("1100원")
elif age>=6:
    print("800원")
else :
    print("무료")

자신의 나이를 입력하세요: 9

800원

In [32]:
count = int(input("발주 수량을 입력하세요:"))
print(count,"개를 주문하셨습니다.",sep="")

if count>1000:
    print("적용 할인율은 0%입니다.",end("\n"),"총 발주 금액은 $",int(count*10*(1+(0/100))),"입니다.",sep="")

#print("총 발주 금액은 $",count*10*(1+(0/100)),"입니다.",sep="")

발주 수량을 입력하세요: 90

90개를 주문하셨습니다.

In [44]:
count = int(input("발주 수량을 입력하세요:"))
print(count,"개를 주문하셨습니다.",sep="")

if count<1000:
    a=0
    print("적용 할인율은 0%입니다.")
elif 1000<=count<1500:
    a=5
    print("적용 할인율은 5%입니다.")
elif 1500<=count<2000:
    a=10
    print("적용 할인율은 10%입니다.")
elif 2000<=count:
    a=20
    print("적용 할인율은 20%입니다.")

print("총 발주 금액은 $",int(count*10*(1-(a/100))),"입니다.",sep="")

발주 수량을 입력하세요: 2001

2001개를 주문하셨습니다.
적용 할인율은 20%입니다.
총 발주 금액은 $16008입니다.