In [1]:
def print_ten():
    """print("Hello")를 열번 출력합니다."""
    for _ in range(10):
        print("hello")

In [2]:
print_ten()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [3]:
print(print_ten.__doc__)

print("Hello")를 열번 출력합니다.

In [4]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [5]:
def greeting(name,age):
    print(f"{name}씨 안녕하세요. 약 { age *365.25}일 되었습니다.")

In [6]:
greeting("파이썬",32)

파이썬씨 안녕하세요. 약 11688.0일 되었습니다.

In [8]:
greeting(name = "파이썬", age = 32) #키워드 인수만으로 호출 순서 x

파이썬씨 안녕하세요. 약 11688.0일 되었습니다.

In [9]:
greeting("파이썬",age = 32) #위치 인수와 키워드 인수로 호출 순서 중요

파이썬씨 안녕하세요. 약 11688.0일 되었습니다.

In [10]:
greeting(age=32,name="파이썬") #키워드 인수만으로 호출 순서 상관x

파이썬씨 안녕하세요. 약 11688.0일 되었습니다.

In [11]:
def posonly(posonly,/): #/를 인자로 위치시키면 그 왼편의 parameter는
    print(posonly)      #positional-only parameter가 된다.

In [12]:
posonly("값만 입력해야 합니다")

값만 입력해야 합니다

In [13]:
def keyonly(*,keyonly = "default"):
    print(keyonly)

In [14]:
keyonly()

default

In [17]:
def var_positional(*args):
    print(type(args))
    return sum([_ for _ in args])

In [18]:
print(var_positional(1,2,3,4,5))

<class 'tuple'>
15

In [19]:
def var_keyword(**kargs):
    print(type(kargs))
    return kargs

In [22]:
print(var_keyword(key="value", key2="value2"))

<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [24]:
def plus_ten(num):
    return num+10
number = int(input("plus_ten:"))
print("반환값:",plus_ten(number))

plus_ten: 70

반환값: 80

In [28]:
def to_celsius(fahrenheit):
    """화씨온도를 섭씨 온도로 변경하는 함수입니다."""
    return (fahrenheit-32)*5/9
number = float(input("to_celsius:"))
print("반환값:",to_celsius(number))

to_celsius: 70

반환값: 21.11111111111111

In [48]:
def odd_even(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환."""
    if type(number) == int:
        if int(number)%2==0:
            return "짝수"
        elif int(number)%2==1:
            return "홀수"
    else :
        return None
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환.
짝수
홀수
None

In [49]:
def odd_even(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환."""
    if type(number) is int and number > 0 :
            return "짝수" *(number % 2 ==0) or "홀수"
    else :
        return None
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환.
짝수
홀수
None

In [50]:
type(number)

str

In [51]:
number

'10'

In [52]:
number.isdecimal() #10진 표기법

True

In [56]:
def to_int(number):
    if number.isdecimal():
        return int(number)
    else:
        return
print(to_int(number))

10

In [66]:
def check_leap_year(year):
    if year%4!=0 or year%100==0 and year%400!=0 :
        return "평년"
    return "윤년"
number = int(input("check_leap_year:"))
print("\"",check_leap_year(number),"\"")

check_leap_year: 2000

" 윤년 "

In [ ]:
def check_leap_year(year):
    if year%4!=0 or year%100==0 and year%400!=0 :
        return "평년"
    return "윤년"
number = int(input("check_leap_year:"))
print("\"",check_leap_year(number),"\"")
def days(num):
    if num in (1,3,5,7,8,10,12):
        return 31
    elif num in (4,6,9,11):
        return 30
    elif num in 2 :
        return 28
    else:
        return 
day = int(input("days:"))
if check_leap_year(number)=="평년":
    print(days(day))
else:
    print("평년이 아닙니다")

check_leap_year: 2020

" 윤년 "

days: 2

평년이 아닙니다

In [83]:
def days(year,day):
    if day in (1,3,5,7,8,10,12):
        day_num = 31
    elif day in (4,6,9,11):
        day_num = 30
    if year%4!=0 or year%100==0 and year%400!=0 :
        if day in 2 :
            day_num = 28
        #year_re = "평년"
    else:
        if day == 2 :
            day_num = 29
        #year_re =  "윤년"
    return day_num

number = int(input("year:"))
day_input = int(input("days:"))
day_result = days(number,day_input)
print(day_input,"월의 날짜수:",day_result)

year: 2000
days: 2

2 월의 날짜수: 29

In [85]:
 (lambda x:x+1)(10)

11

In [87]:
twice = lambda x : x*2
print(twice(10))

20

In [90]:
((lambda x: y=1 0; x+y)(1)) #콜론 오른편에 변수를 선언할 수 없다.

SyntaxError: invalid syntax (724121113.py, line 1)

In [92]:
a=[_ for _ in range(1,6)] #[1,2,3,4,5]
b=[_ for _ in range(2,11,2)] #[2,4,6,8,10]
print(list(map(lambda x,y : x*y,a,b))) #두개의 값을 곱하기

[2, 8, 18, 32, 50]

In [93]:
a= [3,2,8,22,10,7,0,11,9,9]
list(filter(lambda x: x%3==0 and 0<x<10,a))

[3, 9, 9]

In [95]:
#student
#name, age, address

name = '강예림'
age = 26
address = "양주"
student = [name , age, address]

In [19]:
import pymysql

In [25]:
import pymysql.cursors

# database 접속할 객체를 만듭니다.
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='python1234',
                             database='python',
                             cursorclass=pymysql.cursors.DictCursor)

In [23]:
with connection:
    with connection.cursor() as cursor:
        # 새로운 값을 삽입합니다.
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

    connection.commit()

In [26]:
with connection:
    with connection.cursor() as cursor:
        # 데이터를 불러옵니다.
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)

{'id': 1, 'password': 'very-secret'}